@import url("reset.css");

/*=============
     FONTS 
=============*/
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("fonts/RobotoCondensed-Bold.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("fonts/RobotoCondensed-Regular.ttf");
  font-weight: normal;
}


@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: normal;
}

/*=============
    GENERAL 
=============*/
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #FFFFFF;
  background: url("../images/splash.jpg") no-repeat center center;
  background-color: #0c0c0e;
}

.dark-overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.4);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

small {
  font-size: 0.55em;
}

/*=============
    HEADER 
=============*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 55px;
  height: 90px;
}

header h1 {
  font-family: "Roboto-Bold";
  font-size: 1.2em;
}

header nav {
  display: flex;
  align-items: center;
  padding-right: 55px;
}

header ul {
  display: flex;
}

header li {
  padding: 0 25px;
}

header nav a {
  font-family: "Roboto";
  font-size: 0.8em;
}

#menu {
  display: block;
  width: 30px;
  height: 30px;
}

#menu.hidden {
  background-image: url("../images/hamburger.png");
  background-size: cover;
}

/*=============
     MAIN 
=============*/
main {
  padding: 35px;
  display: flex;
  justify-content: space-around;
  height: 700px;
}

main > * {
  flex: 1;
  padding: 0 105px;
  max-width: 700px;
}

main article {
  padding-top: 140px;
}

/*=============
  INTRO TEXT 
=============*/
article h1 {
  line-height: 1.25em;
  font-family: "Roboto-Bold";
  font-size: 2.6em;
  margin-bottom: 0.3em;
}

article p {
  line-height: 1.7em;
  font-size: 0.85em;
}

/*=============
    FORM 
=============*/
form {
  text-align: center;
  padding-top: 128px;
}

form h2 {
  font-family: "Roboto-Bold";
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-size: 0.6em;
  margin-bottom: 2.2em;
}

fieldset {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

fieldset > * {
  display: block;
}

label, form button {
  height: 57px;
  display: block;
}

input {
  color: #FFFFFF;
  padding-left: 16px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
}

label:last-of-type input {
  border-bottom: none;
}

input, form button {
  font-family: "RobotoCondensed";  
  font-size: 0.8em;  
  width: 100%;
}

form button {
  color: #FFFFFF;
  background: #2c99ed;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1em;
}

input::placeholder {
  color: #FFFFFF;
}

form small {
  color: #9a9a9a;
  line-height: 1.9em;
}

form small a {
  color: #FFFFFF;
}



/*=============
    FOOTER 
=============*/
footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 54px;
  height: 50px;
}

footer ul {
  display: flex;
  align-items: center;
}

footer li {
  padding: 0 14px;
}

footer li:last-child {
  padding-right: 0;
}

footer nav a {
  font-family: "Roboto-Medium";
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-size: 0.6em;
}