@import url("reset.css");

/*=============
     FONTS 
=============*/
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("fonts/RobotoCondensed-Regular.ttf");
  font-weight: normal;
}


@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: normal;
}

/*=============
    GENERAL 
=============*/
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #FFFFFF;
  background: url("../images/splash.jpg") no-repeat center center;
  background-color: #0c0c0e;
  background-size: cover;
}

.dark-overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.4);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

small {
  font-size: 0.55em;
}

a:hover {
  color: #2c99ed;
}

.hidden {
  display: none !important;
}

/*=============
    HEADER 
=============*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 55px;
  height: 90px;
}

header h1 {
  font-family: "Roboto-Bold";
  font-size: 1.2em;
}

header nav {
  display: flex;
  align-items: center;
  padding-right: 55px;
}

header ul {
  display: flex;
}

header li {
  padding: 0 25px;
}

header nav a {
  font-family: "Roboto";
  font-size: 0.8em;
}

#hamburger {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../images/hamburger.png");
  background-size: cover;
}

#hamburger:hover {
  filter: brightness(80%);
}

/*=============
     MENU 
=============*/
#menu {
  z-index: 2;
  position: fixed;
  width: 600px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0c0c0e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu li {
  padding: 20px 0;
}

#menu nav a {
  font-family: 'RobotoCondensed';
  font-size: 1.6em;
  text-transform: uppercase;
}

#close {
  position: absolute;
  top: 30px;
  right: 55px;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../images/x.png");
  background-size: cover;
}

/*=============
     MAIN 
=============*/
main {
  padding: 35px;
  display: flex;
  justify-content: space-around;
  height: 700px;
}

main > * {
  flex: 1;
  padding: 0 105px;
  max-width: 700px;
}

main article {
  padding-top: 140px;
}

/*=============
  INTRO TEXT 
=============*/
article h1 {
  line-height: 1.25em;
  font-family: "Roboto-Bold";
  font-size: 2.6em;
  margin-bottom: 0.35em;
}

article p {
  line-height: 1.7em;
  font-size: 0.85em;
}

/*=============
    FORM 
=============*/
form {
  text-align: center;
  padding-top: 128px;
}

form h2 {
  font-family: "Roboto-Bold";
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-size: 0.6em;
  margin-bottom: 2.2em;
}

fieldset {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

fieldset > * {
  display: block;
}

label, form button {
  height: 57px;
  display: block;
}

label {
  position: relative;
}

input {
  color: #FFFFFF;
  padding-left: 16px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
}

label:last-of-type input {
  border-bottom: none;
}

input, form button {
  font-family: "RobotoCondensed";  
  font-size: 0.8em;  
  width: 100%;
}

input:focus {
  outline: 1;
  outline-color: #2c99ed;
}

form button[type=submit] {
  color: #FFFFFF;
  background: #2c99ed;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1em;
}

form button[type=submit]:hover {
  filter: brightness(105%);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

form small {
  color: #9a9a9a;
  line-height: 1.9em;
}

form small a {
  color: #FFFFFF;
}

#toggle-visible {
  position: absolute;
  right: 9px;
  top: 9px;
  display: block;
  width: 36px;
  height: 36px;
  background-size: cover;
  filter: opacity(70%);
}

#toggle-visible:hover {
  filter: opacity(100%);
}

.invisible {
  background-image: url("../images/eye-disabled.png");
}

.visible {
  background-image: url("../images/eye.png");
}

/*=============
    FOOTER 
=============*/
footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 54px;
  height: 50px;
}

footer ul {
  display: flex;
  align-items: center;
}

footer li {
  padding: 0 14px;
}

footer li:last-child {
  padding-right: 0;
}

footer nav a {
  font-family: "Roboto-Medium";
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-size: 0.6em;
}

/*===============
  Media Queries 
===============*/
@media screen and (max-width: 1300px) {
  main > * {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media screen and (max-width: 1200px) {
  article h1 {
    font-size: 2.2em;
  }

  article p {
    font-size: 0.75em;
  }

  main {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 900px) {
  #close {
    right: 6%;
  }

  header {
    padding: 0 6%;
  }

  main {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 160px;
  }

  main > * {
    width: 100%;
  }

  article {
    text-align: center;
  }

  article h1 {
    font-size: 2.2em;
  }

  article p {
    font-size: 0.75em;
  }

  footer {
    height: auto;
    flex-direction: column-reverse;
    padding-bottom: 10px;
  }

  footer ul {
    padding-bottom: 15px;
  }

  header nav {
    display: none;
  }

  form {
    padding-top: 150px;
  }
}

@media screen and (max-width: 600px) {
  #menu {
    width: 100%;
  }

  #menu nav a {
    font-size: 1.4em;
  }

  article h1 {
    font-size: 1.8em;
  }

  footer ul {
    flex-direction: column;
  }

  footer li {
    padding: 0;
  }
}